// ヘッダー
.ly_header {
  // padding-top: 10px;
  // padding-bottom: 10px;

  &_inner {
    max-width: $contentsWidth - $contentsPaddingWidth * 2;
    margin-right: auto;
    margin-left: auto;
  }
}

// ヘッダーナビゲーション
.bl_headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  overflow-x: auto;
  &_item {
    margin-right: 8px;
    margin-left: 8px;
    transition: $transition;
    &:focus,
    &:hover {
      opacity: $transitionOpacity;
    }
  }
  &_link {
    color: $cBlack;
    text-decoration: none;
    transition: $transition;
  }
  &_txt,
  &_eTxt {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  &_txt {
    font-size: $fontXs;
  }
  &_eTxt {
    font-size: $fontSm;

@include mq("tab") {
      font-size: $fontXl;
    }
  }
}

