// -------------------------------
// クリアフィックス
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

// -------------------------------
// 背景画像：標準
.ly_bgImg {
  background-position: top center;
  background-size: 100%;
  background-repeat: repeat;
}
// 背景画像：拡張パターン＿ノーリピート
.ly_noRepeatBgImg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

// -------------------------------
// コンテナレイアウト：標準
.ly_container {
  padding: $contentsPaddingHeight_sp 0;
}
@include mq("tab") {
  .ly_container {
    padding: $contentsPaddingHeight_tab 0;
  }
}
// コンテナレイアウト：拡張パターン＿横パディングなし
.ly_container.ly_container__noPaddingContents {
  margin: 0 auto;
}
@include mq("tab") {
  .ly_container.ly_container__noPaddingContents {
    max-width: $contentsWidth_tab - $contentsPaddingWidth_tab * 2;
  }
}
// コンテナレイアウト：拡張パターン＿パディングあり
.ly_container.ly_container__paddingContents {
  margin: 0 auto;
  padding: $contentsPaddingHeight_sp $contentsPaddingWidth_sp;
}
@include mq("tab") {
  .ly_container.ly_container__paddingContents {
    max-width: $contentsWidth_tab;
    padding: $contentsPaddingHeight_tab $contentsPaddingWidth_tab;
  }
}

// -------------------------------
// メインコンテンツの最終セクション
main {
  > section.ly_container:last-child {
    padding-bottom: 60px;
  }
}


// 共通
.bl_ul {
  list-style: disc;
  margin-bottom: 10px;
  padding-left: 1.5em;
  &:last-child {
    margin-bottom: 0;
  }
  .bl_li {
    // padding-left: 1em;
  }
}
// -------------------------------
// ファーストビュー（トップページ）
.bl_firstView {
  max-width: $contentsWidth_tab;
  margin: 0 auto;
  padding: 10px $contentsPaddingWidth_tab;

// アイコン部
  // $tab_fvIcon_marginBottom: -2.43902%;

  $tab_fvIcon_marginBottom: -10px;

  &_inner {
    position: relative;
  }
  // メイン部
  &_mainGroup {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .425);
  }
  &_ttl {
    margin-bottom: 10px;
    &Img {
      // width: 100%;
    }
  }
  &_intro {
    // margin: 0 auto;
  }
  // プロフィール写真部
  &_profiles {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto 10px;
  }
  &_profile {
    width: 31.707%;
    margin-right: 2.43902%;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;

    &:nth-of-type(3n),
    &:last-of-type {
      margin-right: 0;
    }
  }
  // 資格証明書部
  &_profileImg {
    height: 100%;

// border-radius: 50%;
    font-family: "object-fit: cover;";

    object-fit: cover;
    object-position: center center;
  }
  &_qualificationArea {
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 2px #333;
    background-color: rgba(255, 255, 255, .459);
  }
  &_qualifications {
    display: flex;
    justify-content: center;
  }


  &_qualification {
    width: 31.707%;
    margin-right: 2.43902%;
    background-color: #fff;
    &:nth-of-type(3n),
    &:last-of-type {
      margin-right: 0;
    }
  }
  &_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $tab_fvIcon_marginBottom;
  }
  &_icon {
    width: 31.707%;
    margin-right: 2.43902%;
    margin-bottom: abs($tab_fvIcon_marginBottom);
    overflow: hidden;
    border-radius: 5%;
    background-color: #fff;
    &:nth-of-type(3n),
    &:last-of-type {
      margin-right: 0;
    }
  }
}
@include mq("tab") {
  .bl_firstView {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    &_mainGroup {
      margin-right: 20px;
      margin-bottom: 0;
    }
    &_intro {
      display: flex;
      align-items: center;
    }
    &_profiles {
      flex-basis: 100%;
      margin-right: 10px;
      margin-bottom: 0;
    }
    &_icons {
      flex-basis: 200px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 0;
    }
    &_icon {
      width: auto;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}


// -------------------------------
// プロフィール（スタッフ紹介）
.bl_profile {
  &_name {
    font-size: $fontMd_sp;
    font-weight: bold;
    text-align: center;
  }
  &_status {
    margin-bottom: 10px;
    font-size: $fontMd_sp;
    font-weight: bold;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_txt {
    font-size: $fontMd_sp;
  }
}
@include mq("tab") {
  .bl_profile {
    &_name {
      font-size: $fontMd_tab;
    }
    &_status {
      font-size: $fontMd_tab;
    }
    &_txt {
      font-size: $fontMd_tab;
    }
  }
}

// -------------------------------
// 同じ志を持つ仲間からの数え切れない推薦の声
.bl_recommendVoice {
  &_ttl {
    color: $cRed;
    font-weight: bold;
  }
  &_name {
    margin-bottom: 10px;
    font-size: $fontMd_sp;
    font-weight: bold;
  }
  &_txt {
    font-size: $fontMd_sp;
  }
}
@include mq("tab") {
  .bl_recommendVoice {
    display: flex;
    &_imgWrapper {
      min-width: 31.707%;
      margin-right: 2.43902%;
    }
    &_ttl {
      font-size: $fontLg_tab;
    }
    &_name {
      font-size: $fontMd_tab;
    }
    &_txt {
      font-size: $fontMd_tab;
    }
  }
}



// -------------------------------
// 説明Block
.bl_block {
  &_ttlWrapper {
    // display: flex;
    // align-items: flex-end;
    // height: 48px;
  }
  &_ttl {
    font-size: $fontLg_sp;
    font-weight: bold;
  }
  &_txt {
    font-size: $fontMd_sp;
  }
}
@include mq("tab") {
  .bl_block {
    &_ttlWrapper {
      // height: 60px;
    }
    &_ttl {
      font-size: $fontLg_tab;
      vertical-align: bottom;
    }
    &_txt {
      font-size: $fontMd_tab;
    }
  }
}

// -------------------------------
// 症状
.bl_symptoms {
  &_block {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  // text-align: center;
  &_figure {
    // margin-bottom: 10px;
    overflow: hidden;
    border-radius: 50%;
  }
  &_txt {
    font-size: $fontXl_sp;
    font-weight: bold;
    text-align: center;
  }
}
@include mq("tab") {
  .bl_symptoms {
    &_block {
      margin-bottom: 40px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &_txt {
      font-size: $fontXl_tab;
    }
  }
}


// -------------------------------
// 治療（まずは、一度お電話ください）
.bl_treatment {
  &_pictures {
    display: flex;
    margin-bottom: 10px;
  }
  &_picture {
    width: 48.78049%;
    margin-right: 2.43902%;
    &:last-child {
      margin-right: 0;
    }
  }
  &_txt {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@include mq("tab") {
  .bl_treatment {
    display: flex;
    &_pictures {
      display: block;
      min-width: 31.707%;
      margin-right: 2.43902%;
      margin-bottom: 0;
    }
    &_picture {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


// -------------------------------
// 当院の特徴/施術の流れ
.bl_group2 {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  &_imgWrapper {
    float: left;
    width: 48.78049%;
    margin-right: 2.43902%;
  }
  &_txt {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@include mq("tab") {
  .bl_group2 {
    margin-bottom: 40px;
    &_imgWrapper {
      width: 31.707%;
    }
  }
}
// -------------------------------
// 料金
.bl_fee {
  border: 1px solid #000;
}




// -------------------------------
// よくいただくご質問（アコーディオン）
.bl_accordion {
  position: relative;
  width: 100%;

// border: 1px solid #0079c1;
  border-top: none;
  border-bottom: 1px solid #c4c4c4;
  outline: 0;
  cursor: pointer;

  .bl_accordion_title {
    display: block;
    position: relative;
    margin: 0;
    padding: 20px 40px 20px 20px;
    border-top: 1px solid #c4c4c4;
    font-size: 1.25em;
    font-weight: normal;
    cursor: pointer;
    transition: $transition;

    &:last-of-type {
      // border-bottom: 1px solid #c4c4c4;
    }
    &:hover,
    &:active {
      background-color: $cOrange;
      color: $cWhite;
      &::after {
        border-color: $cWhite;
      }
    }
  }
}
// .bl_accordion .bl_accordion_title:hover i:before,
// .bl_accordion .bl_accordion_title:hover i:active {
//   color: white;
// }
.bl_accordion_title {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    top: 38%;
    right: 25px;
    transform: rotate(135deg);
    width: 8px;
    height: 8px;
    border-top: solid 2px $cBlack;
    border-right: solid 2px $cBlack;
    content: "";
    transition: all .2s ease-in-out;
  }
  &.open:after {
    top: 45%;
    transform: rotate(-45deg);
  }
}
.bl_accordion_content {
  display: none;
  margin-bottom: 20px;
  margin-left: 40px;
  padding: 20px;
  background-color: #c4c4c4;
}




