// -------------------------------
// クリアフィックス
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

// -------------------------------
// タブレット以上のサイズで電話クリック無効化

a[href*="tel:"] {
  text-decoration: none;
}
@include mq("tab") {
  a[href*="tel:"] {
    color: $cBlack;
    pointer-events: none;
  }
}

// -------------------------------
// 背景画像：標準
.ly_bgImg {
  background-position: top center;
  background-size: 100%;
  background-repeat: repeat;
}
// 背景画像：拡張パターン＿ノーリピート
.ly_noRepeatBgImg {
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}
@include mq("tab") {
}

// -------------------------------
// コンテナレイアウト：標準
.ly_container {
  padding: $contentsPaddingHeight_sp 0;
}
@include mq("tab") {
  .ly_container {
    padding: $contentsPaddingHeight_tab 0;
  }
}
// コンテナレイアウト：拡張パターン＿横パディングなし
.ly_container.ly_container__noPaddingContents {
  margin: 0 auto;
}
@include mq("tab") {
  .ly_container.ly_container__noPaddingContents {
    max-width: $contentsWidth_tab - $contentsPaddingWidth_tab * 2;
  }
}
// コンテナレイアウト：拡張パターン＿パディングあり
.ly_container.ly_container__paddingContents {
  margin: 0 auto;
  padding: $contentsPaddingHeight_sp $contentsPaddingWidth_sp;
}
@include mq("tab") {
  .ly_container.ly_container__paddingContents {
    max-width: $contentsWidth_tab;
    padding: $contentsPaddingHeight_tab $contentsPaddingWidth_tab;
  }
}

// -------------------------------
// メインコンテンツの最終セクション
main {
  > section.ly_container:last-child {
    padding-bottom: 60px;
  }
}

// 共通
.bl_ul {
  list-style: disc;
  margin-bottom: 10px;
  padding-left: 1.5em;
  &:last-child {
    margin-bottom: 0;
  }
}

// -------------------------------
// ファーストビュー（トップページ）
.bl_firstView {
  max-width: $contentsWidth_tab;
  margin: 0 auto;
  padding: 10px $contentsPaddingWidth_tab;

  $tab_fvIcon_marginBottom: -10px;

  &_inner {
    position: relative;
  }
  // メイン部
  &_mainGroup {
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 10px;
    background-color: $cOpacityWhite;
  }
  &_ttl {
    margin-bottom: 10px;
  }

  // プロフィール写真部
  &_profiles {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto 10px;
  }
  &_profile {
    width: 31.707%;
    margin-right: 2.43902%;
    overflow: hidden;
    &:nth-of-type(3n),
    &:last-of-type {
      margin-right: 0;
    }
  }
  // 資格証明書部
  &_profileImg {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  &_qualificationArea {
    flex-basis: 97%;
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: $cBoxShadow;
    background-color: $cOpacityWhite;
  }
  &_qualifications {
    display: flex;
    justify-content: center;
  }

  &_qualification {
    width: 31.707%;
    margin-right: 2.43902%;
    background-color: $cWhite;
    &:nth-of-type(3n),
    &:last-of-type {
      margin-right: 0;
    }
  }
  &_qualificationTtl {
    line-height: 1;
  }
  &_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $tab_fvIcon_marginBottom;
  }
  &_icon {
    width: 31.707%;
    margin-right: 2.43902%;
    margin-bottom: abs($tab_fvIcon_marginBottom);
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: $cBoxShadow;
    background-color: $cWhite;
    &:nth-of-type(3n),
    &:last-of-type {
      margin-right: 0;
    }
  }
}
@include mq("tab") {
  .bl_firstView {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    &_mainGroup {
      margin-right: 20px;
      margin-bottom: 0;
    }
    &_intro {
      display: flex;
      align-items: center;
    }
    &_profiles {
      flex-basis: 100%;
      margin-right: 15px;
      margin-bottom: 0;
    }
    &_icons {
      flex-basis: 17%;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 0;
    }
    &_icon {
      width: auto;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

// -------------------------------
// プロフィール（スタッフ紹介）
.bl_profile {
  &_name {
    font-size: $fontMd_sp;
    font-weight: bold;
    text-align: center;
  }
  &_status {
    margin-bottom: 10px;
    font-size: $fontMd_sp;
    font-weight: bold;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_txt {
    font-size: $fontMd_sp;
  }
}
@include mq("tab") {
  .bl_profile {
    &_name {
      font-size: $fontMd_tab;
    }
    &_status {
      font-size: $fontMd_tab;
    }
    &_txt {
      font-size: $fontMd_tab;
    }
  }
}

// -------------------------------
// 同じ志を持つ仲間からの数え切れない推薦の声
.bl_recommendVoice {
  &_ttl {
    color: $cRed;
    font-weight: bold;
  }
  &_name {
    margin-bottom: 10px;
    font-size: $fontMd_sp;
    font-weight: bold;
  }
  &_txt {
    font-size: $fontMd_sp;
  }
}
@include mq("tab") {
  .bl_recommendVoice {
    display: flex;
    &_imgWrapper {
      min-width: 31.707%;
      margin-right: 2.43902%;
    }
    &_ttl {
      font-size: $fontLg_tab;
    }
    &_name {
      font-size: $fontMd_tab;
    }
    &_txt {
      font-size: $fontMd_tab;
    }
  }
}

// -------------------------------
// 説明Block
.bl_group1 {
  &_ttl {
    font-size: $fontLg_sp;
    font-weight: bold;
  }
  &_txt {
    font-size: $fontMd_sp;
  }
}
@include mq("tab") {
  .bl_group1 {
    &_ttl {
      font-size: $fontLg_tab;
      vertical-align: bottom;
    }
    &_txt {
      font-size: $fontMd_tab;
    }
  }
}

// -------------------------------
// 症状
.bl_symptoms {
  &_block {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  // text-align: center;
  &_figure {
    // margin-bottom: 10px;
    overflow: hidden;
    border-radius: 50%;
  }
  &_txt {
    font-size: $fontXl_sp;
    font-weight: bold;
    text-align: center;
  }
}
@include mq("tab") {
  .bl_symptoms {
    &_block {
      margin-bottom: 40px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &_txt {
      font-size: $fontXl_tab;
    }
  }
}

// -------------------------------
// 治療（まずは、一度お電話ください）
.bl_treatment {
  &_pictures {
    display: flex;
    margin-bottom: 10px;
  }
  &_picture {
    width: 48.78049%;
    margin-right: 2.43902%;
    &:last-child {
      margin-right: 0;
    }
  }
  &_txt {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@include mq("tab") {
  .bl_treatment {
    display: flex;
    &_pictures {
      display: block;
      min-width: 31.707%;
      margin-right: 2.43902%;
      margin-bottom: 0;
    }
    &_picture {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// -------------------------------
// 当院の特徴/施術の流れ
.bl_group2 {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  &_imgWrapper {
    float: left;
    width: 48.78049%;
    margin-right: 2.43902%;
  }
  &_txt {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@include mq("tab") {
  .bl_group2 {
    margin-bottom: 40px;
    &_imgWrapper {
      width: 31.707%;
    }
  }
}

// -------------------------------
// 料金
.bl_fee {
  padding: 10px;
  border-radius: $border-radius;
  box-shadow: $cBoxShadow;

  &_outer {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_ttl,
  &_subTtl {
    font-weight: bold;
  }
  &_ttl {
    margin-bottom: 10px;
    color: $cRed;
    font-size: $fontXl_sp;
  }
  &_subTtl {
    font-size: $fontLg_sp;
  }
  &_txt {
    margin-bottom: 30px;
  }
}
@include mq("tab") {
  .bl_fee {
    &_ttl {
      font-size: $fontXl_tab;
    }
    &_subTtl {
      font-size: $fontLg_tab;
    }
  }
}

// -------------------------------
// Google Map
.bl_googleMap_wrapper {
  position: relative;
  height: 0;
  padding-top: 60%; /* 縦横比の指定 */
  overflow: hidden;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// -------------------------------
// よくいただくご質問（アコーディオン）
.bl_accordion {
  position: relative;
  width: 100%;
  border-top: none;
  border-bottom: 1px solid $cGrey;
  outline: 0;
  cursor: pointer;

  &_title {
    position: relative;
    &::after {
      display: block;
      position: absolute;
      top: 42%;
      right: 25px;
      transform: rotate(135deg);
      width: 8px;
      height: 8px;
      border-top: solid 2px $cBlack;
      border-right: solid 2px $cBlack;
      content: "";
      transition: all .2s ease-in-out;
    }
    &.open:after {
      top: 45%;
      transform: rotate(-45deg);
    }
  }
  &_content {
    display: none;
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 20px;
    background-color: $cBgGrey;
  }
  &_txt {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .bl_accordion_title {
    display: block;
    position: relative;
    margin: 0;
    padding: 20px 50px 20px 20px;
    border-top: 1px solid $cGrey;
    font-size: 1.25em;
    font-weight: normal;
    cursor: pointer;
    transition: $transition;

    &:active {
      background-color: $cOrange;
      color: $cWhite;
      &::after {
        border-color: $cWhite;
      }
    }
  }
}
@include mq("tab") {
  .bl_accordion {
    .bl_accordion_title {
      &:hover,
      &:focus {
        background-color: $cOrange;
        color: $cWhite;
        &::after {
          border-color: $cWhite;
        }
      }
    }
  }
}

// -------------------------------
// トップページへ戻る
.bl_toTop {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 10px;
  bottom: 74px;
  z-index: 10000;
  transform: translateY(20px);

// box-shadow: 0 0 0 4px $cWhite;
  transition: $transition;

  &_chevron {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    border: 4px solid darken($cOrange, 13%);
    background-color: darken($cOrange, 13%);
    transition: $transition;
    &::before {
      position: absolute;
      top: 8px;
      right: 0;
      bottom: 0;
      left: 0;
      transform: rotate(135deg);
      width: 12px;
      height: 12px;
      margin: auto;
      border: 4px solid $cWhite;
      border-top: none;
      border-right: none;
      content: "";
      transition: $transition;
    }
    &:active {
      background-color: $cWhite;
      &::before {
        border-color: darken($cOrange, 13%);
      }
    }
  }
  &.js_visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@include mq("tab") {
  .bl_toTop {
    right: 20px;
    bottom: 20px;
    &_chevron {
      width: 64px;
      height: 64px;
      &::before {
        top: 12px;
        width: 20px;
        height: 20px;
      }
      &:hover {
        background-color: $cWhite;
        &::before {
          border-color: darken($cOrange, 13%);
        }
      }
    }
  }
}

// -------------------------------
// 下タブ
.bl_fixedFooter {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  width: 100%;
  padding: 10px;
  box-shadow: $cBoxShadow;
  background-color: $cWhite;
  &_area {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    margin: 0 3px;
    padding: 10px 5px;
    background-color: $cWhite;
    text-decoration: none;
    transition: $transition;

    &.bl_fixedFooter_area__access {
      border: 2px solid $cBlue;
      background-color: $cBlue;
      &:active {
        background-color: $cWhite;
      }
      &:active > .bl_fixedFooter_txt {
        color: $cBlue;
      }
    }
    &.bl_fixedFooter_area__call {
      border: 2px solid $cGreen;
      background-color: $cGreen;
      &:active {
        background-color: $cWhite;
      }
      &:active > .bl_fixedFooter_txt {
        color: $cGreen;
      }
    }
  }
  &_txt {
    margin-left: .25em;
    color: $cWhite;
    text-align: center;
  }
}
.bl_fixedFooter_iconMap {
  display: inline-block;
  position: relative;
  transform: rotate(-45deg) scale(.9);
  width: 15px;
  height: 15px;
  margin-top: 4px;
  margin-left: 4px;
  border: solid 1px currentColor;
  border-radius: 7px 7px 7px 0;
  background-color: currentColor;
  color: $cWhite;
  &::before {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 4px;
    height: 4px;
    border: solid 1px currentColor;
    border-radius: 50%;
    background-color: currentColor;
    color: $cBlue;
    content: "";
  }
}

.bl_fixedFooter_iconPhone {
  display: block;
  position: relative;
  transform: scale(.9);
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  color: $cWhite;
  &::after,
  &::before {
    display: block;
    position: absolute;
    box-sizing: border-box;
    content: "";
  }
  &::after {
    bottom: 0;
    left: 2px;
    width: 18px;
    height: 18px;
    border-bottom: 4px solid;
    border-left: 4px solid;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 12px;
    background: linear-gradient(to left, currentColor 10px, transparent 0)
    no-repeat right 11px/6px 4px,
    linear-gradient(to left, currentColor 10px, transparent 0) no-repeat -1px 0/4px
    6px;
  }
  &::before {
    bottom: 0;
    left: 2px;
    transform: rotate(-45deg);
    width: 20px;
    height: 20px;
    border: 6px double;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
  }
}

@include mq("tab") {
  .bl_fixedFooter {
    display: none;
  }
}

// -------------------------------
// 接骨院情報
.bl_info {
  margin-top: 20px;
  &_txtWrapper {
    display: flex;
    flex-wrap: nowrap;
  }
  &_ttl {
    flex-shrink: 0;
    width: 5.5em;
    font-weight: bold;
  }
  &_description {
    text-indent: -1em;
  }
}
