.el_picture05 {
  position: relative;
  padding-top: 5%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture11 {
  position: relative;
  padding-top: 11%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture10 {
  position: relative;
  padding-top: 10%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture20 {
  position: relative;
  padding-top: 20%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture26_5 {
  position: relative;
  padding-top: 26.5%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture33 {
  position: relative;
  padding-top: 33%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture34 {
  position: relative;
  padding-top: 33%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture38_5 {
  position: relative;
  padding-top: 38.5%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture43 {
  position: relative;
  padding-top: 43%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture56 {
  position: relative;
  padding-top: 56.07235%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture60 {
  position: relative;
  padding-top: 60%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture72 {
  position: relative;
  padding-top: 72%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.el_picture100 {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
