.bl_breadcrumbs {
  margin-bottom: 25px;
  &_li {
    display: inline;
    font-size: $fontXs;
    letter-spacing: normal; /* 文字間を詰めて隙間をなくす */

    &::after {
      padding: 0 .2em;
      color: $cBlack;
      content: "\03e";
    }
    &:last-child::after {
      content: "";
    }
  }
  &_link {
    color: $cBlack;
    text-decoration: none;
    transition: $transition;
    &:hover {
      opacity: $transitionOpacity;
      text-decoration: underline;
    }
  }
  &.ly_container.ly_container__paddingContents {
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.bl_breadcrumbs.bl_breadcrumbs__white {
  .bl_breadcrumbs {
    &_link,
    &_li,
    &_li::after {
      color: $cWhite;
    }
  }
}
