// 標準カード
.bl_card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  &_imgWrapper {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    > img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      font-family: "object-fit: cover;";

      object-fit: cover;
      object-position: center center;
    }
  }
  &_body {
    height: 120px;
    padding: 15px;
    background-color: $cWhite;
    > *:last-child {
      margin-bottom: 0;
    }
  }
  &_date {
    margin-bottom: 5px;
    color: #666;
    font-size: $fontXs;
    font-weight: bold;
  }
  &_txt {
    display: -webkit-box;
    height: 72px;
    overflow: hidden;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

// カード：拡張パターン＿リンク
a.bl_card {
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: $transition;
  .bl_card_date,
  .bl_card_txt {
    transition: $transition;
  }
  &:focus,
  &:hover {
    opacity: $transitionOpacity;
    .bl_card_ttl,
    .bl_card_txt {
      color: $cBlack;
      text-decoration: underline;
    }
  }
}

// カード：拡張パターン＿横並び
.bl_colItem:nth-child(4),
.bl_colItem:nth-child(5) {
  .bl_card.bl_card__row45 {
    display: flex;
    > .bl_card_imgWrapper {
      flex: 0 1 54%;
      padding-top: 0;
    }
    .bl_card_body {
      flex: 0 1 46%;
    }
  }
}
