// カラム変更準備
.bl_colUnit {
  display: flex;
  flex-wrap: wrap;
  > .bl_colItem {
    width: 100%;
    margin-right: 0;
  }
}

// -------------------------------
// SP2カラムPC3カラム
$sp_col23_marginBottom: -20px;
.bl_colUnit {
  &.bl_colUnit__col23 {
    margin-bottom: $sp_col23_marginBottom;
  }
  &__col23 {
    > .bl_colItem {
      width: 48.78049%;
      margin-right: 2.43902%;
      margin-bottom: abs($sp_col23_marginBottom);
      &:nth-of-type(2n),
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
$tab_col23_marginBottom: -40px;
@include mq("tab") {
  .bl_colUnit {
    &.bl_colUnit__col23 {
      margin-bottom: $tab_col23_marginBottom;
    }
    &__col23 {
      > .bl_colItem {
        width: 31.707%;
        margin-right: 2.43902%;
        margin-bottom: abs($tab_col23_marginBottom);
        &:nth-of-type(2n) {
          margin-right: 2.43902%;
        }
        &:nth-of-type(3n),
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}


// -------------------------------
// 横スクロール,SP1カラム,PC2カラム
.bl_colUnit {
  &.bl_colUnit__colScroll12 {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  &__colScroll12 {
    > .bl_colItem {
      min-width: 48.78049%;
      margin-right: 2.43902%;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
@include mq("tab") {
  .bl_colUnit {
    &.bl_colUnit__colScroll12 {
      display: block;
      overflow: hidden;
      // overflow: hidden;
    }
    &__colScroll12 {
      > .bl_colItem {
        margin-bottom: 20px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}


// -------------------------------
// 横スクロール,SP2カラム,PC3カラム
.bl_colUnit {
  &.bl_colUnit__colScroll23 {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  &__colScroll23 {
    > .bl_colItem {
      min-width: 48.78049%;
      margin-right: 2.43902%;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
// $tab_col23_marginBottom: -40px;
@include mq("tab") {
  .bl_colUnit {
    &__colScroll23 {
      > .bl_colItem {
        min-width: 31.707%;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}


// -------------------------------
// 3カラム
$sp_col3_marginBottom: -20px;
.bl_colUnit {
  &.bl_colUnit__col3 {
    max-width: 75%;
    margin-right: auto;
    margin-bottom: $sp_col3_marginBottom;
    margin-left: auto;
  }
  &__col3 {
    > .bl_colItem {
      width: 31.707%;
      margin-right: 2.43902%;
      margin-bottom: abs($sp_col3_marginBottom);
    }
    > .bl_colItem:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

// -------------------------------
// sp2,tab4カラム
$sp_col24_marginBottom: -20px;
.bl_colUnit {
  &.bl_colUnit__col24 {
    margin-bottom: $sp_col24_marginBottom;
  }
  &__col24 {
    > .bl_colItem {
      width: 48.78049%;
      margin-right: 2.43902%;
      margin-bottom: abs($sp_col24_marginBottom);
    }
    > .bl_colItem:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}
$tab_col24_marginBottom: -30px;
@include mq("tab") {
  .bl_colUnit {
    &.bl_colUnit__col24 {
      margin-bottom: $tab_col24_marginBottom;
    }
    &__col24 {
      > .bl_colItem {
        width: 23.78%;
        margin-right: 1.62602%;
        margin-bottom: abs($tab_col24_marginBottom);
      }
      > .bl_colItem:nth-of-type(2n) {
        margin-right: 1.62602%;
      }
      > .bl_colItem:nth-of-type(4n) {
        margin-right: 0;
      }
    }
  }
}


// -------------------------------
// sp1,tab2カラム：増殖あり
$sp_cols12_marginBottom: -20px;
// モディファイア用：margin-bottom-small
$sp_cols12_marginBottomSmall: -10px;
// モディファイア用：no-margin-bottom
$sp_cols12_noMarginBottom: 0;
.bl_colUnit {
  &.bl_colUnit__cols12 {
    margin-bottom: $sp_cols12_marginBottom;
  }
  &__cols12 {
    > .bl_colItem {
      margin-bottom: abs($sp_cols12_marginBottom);
    }
  }


  // -------------------------------
  // モディファイヤ：margin-bottom-small
  &.bl_colUnit__cols12MarginBottomSmall {
    margin-bottom: $sp_cols12_marginBottomSmall;
  }
  &__cols12MarginBottomSmall {
    > .bl_colItem {
      margin-bottom: abs($sp_cols12_marginBottomSmall);
    }
  }
  // / モディファイヤ：margin-bottom-small
  // -------------------------------


  // -------------------------------
  // モディファイヤ：no-margin-bottom
  &.bl_colUnit__cols12NoMarginBottom {
    margin-bottom: $sp_cols12_noMarginBottom;
  }
  &__cols12NoMarginBottom {
    > .bl_colItem {
      margin-bottom: abs($sp_cols12_noMarginBottom);
    }
  }
  // / モディファイヤ：no-margin-bottom
  // -------------------------------
}

// メディアクエリ：tabの時
$tab_cols12_marginBottom: -20px;
// モディファイア用：margin-bottom-small
$tab_cols12_marginBottomSmall: -20px;
// モディファイア用：no-margin-bottom
$tab_cols12_noMarginBottom: 0;
@include mq("tab") {
  .bl_colUnit {
    &.bl_colUnit__cols12 {
      margin-bottom: $tab_cols12_marginBottom;
    }
    &__cols12 {
      > .bl_colItem {
        width: 48.78049%;
        margin-right: 2.43902%;
        margin-bottom: abs($tab_cols12_marginBottom);
      }
      > .bl_colItem:nth-of-type(2n) {
        margin-right: 0;
      }
    }


    // -------------------------------
    // モディファイヤ：margin-bottom-small
    &.bl_colUnit__cols12MarginBottomSmall {
      margin-bottom: $tab_cols12_marginBottomSmall;
    }
    &__cols12MarginBottomSmall {
      > .bl_colItem {
        width: 48.78049%;
        margin-right: 2.43902%;
        margin-bottom: abs($tab_cols12_marginBottomSmall);
      }
      > .bl_colItem:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    // / モディファイヤ：margin-bottom-small
    // -------------------------------


    // -------------------------------
    // モディファイア：no-margin-bottom
    &.bl_colUnit__cols12NoMarginBottom {
      margin-bottom: $tab_cols12_noMarginBottom;
    }
    &__cols12NoMarginBottom {
      > .bl_colItem {
        width: 48.78049%;
        margin-right: 2.43902%;
        margin-bottom: abs($tab_cols12_noMarginBottom);
      }
      > .bl_colItem:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    // / モディファイア：no-margin-bottom
    // -------------------------------
  }
}
