// レイアウト幅
$layoutTabWidth: 768px;
$layoutPcWidth: 992px;
// ブレークポイント
$breakpoints: (
  "tab": "screen and (min-width: #{$layoutTabWidth})",
  "pc": "screen and (min-width: #{$layoutPcWidth})",
);
// メディアクエリー
@mixin mq($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// コンテナ
$contentsPaddingHeight: 30px;
$contentsPaddingWidth: 10px;
$contentsWidth: 1200px + ($contentsPaddingWidth * 2);

// フォントサイズ
$fontXxl: 1.5rem; //24px
$fontXl: 1.375rem;  //22px
$fontLg: 1.125rem; //18px
$fontMd: 1rem; //16px
$fontSm: .875rem; //14px
$fontXs: .75rem; //12px

// タブレット時のフォントサイズ
$fontXxl_tab: 3rem; //48px

// カラー
$cWhite: #fff;
$cBlack: #333;
$cBrown: #421f15;
$cRed: #f00;
$cOrange: #ff993c;
$cOpacityWhite: rgba(255, 255, 255, .3);

// transition
$transitionOpacity: .8;
$transition: .3s;
