<section class="ly_container ly_container__paddingContents bl_comments">
    <h2 class="el_h2 bl_comments_h2">COMMENTS</h2>
    <p class="bl_comments_h3">舞台関係者のみならず各界著名人からコメントが届いています！</p>
    <div class="ly_noRepeatBgImg bl_comments_bgImg" style="background-image: url('./img/comments_bgImg@2x.jpg'); ">
        <div class="bl_comments_info">
            <p class="bl_comments_ttl">京都佛立ミュージアム館長 <span class="bl_comments_name">長松清潤</span></p>
            <p class="bl_comments_txt">「文に非ず、其の義に非ず、唯だ一部の意のみ。」<br>
                まずこの聖句が浮かんだ。境界線に立つ人類。超越する意志。小池博史氏<br>
                の心象が生み出したアバターが乱舞しながら深層意識に波紋を起こしてゆく。</p>
            <div class="bl_comments_btn">
                <a class="el_btn" href="./comments.html">もっと見る</a>
            </div>
            <!-- / .bl_comments_btn -->
        </div>
        <!-- / .bl_comments_info -->
    </div>
    <!-- / .ly_noRepeatBgImg.bl_comments_bgImg -->
</section>