<div class="ly_noRepeatBgImg ly_cta">
  <div class="bl_cta">
    <p class="bl_cta_txt">▼こちらを押すとお電話できます▼</p>
    <div class="bl_cta_inner">
      <div class="bl_cta_group1">
        <figure class="bl_cta_ttl el_picture33">
          <img class="bl_cta_ttlImg js_lazyLoad" src="./img/loading_ico.svg" data-src="./img/fv_txt.png"
            alt="施術者数10,351人以上/施術経験10年以上。体の痛み改善なら当院へ「肩こりからくる頭痛」「はり施術による冷え、むくみ改善」等の相談歓迎！腰痛、首こり、猫背の姿勢改善も得意です！">
        </figure>
        <div class="bl_cta_intro">
          <div class="bl_cta_profiles">
            <div class="bl_cta_profile">
              <figure class="bl_cta_profileFigure el_picture100">
                <img class="bl_cta_profileImg js_lazyLoad" src="./img/loading_ico.svg"
                  data-src="./img/fv_staff_circle_img01.png" alt="院長：金田雄一郎（柔道整復師）の写真">
              </figure>
            </div>
            <div class="bl_cta_profile">
              <figure class="bl_cta_profileFigure el_picture100">
                <img class="bl_cta_profileImg js_lazyLoad" src="./img/loading_ico.svg"
                  data-src="./img/fv_staff_circle_img02.png" alt="スタッフ：金田友美（フットケア）の写真">
              </figure>
            </div>
            <div class="bl_cta_profile">
              <figure class="bl_cta_profileFigure el_picture100">
                <img class="bl_cta_profileImg js_lazyLoad" src="./img/loading_ico.svg"
                  data-src="./img/fv_staff_circle_img03.png" alt="スタッフ：設楽和也（鍼灸師）の写真">
              </figure>
            </div>
          </div>
          <!-- / bl_cta_profiles -->
          <div class="bl_cta_qualificationArea">
            <figure class="bl_cta_qualificationTtl el_picture05">
              <img class="bl_cta_qualificationTtlImg js_lazyLoad" src="./img/loading_ico.svg"
                data-src="./img/fv_license_ttl_img01.png" alt="柔道整復師、鍼灸師等の国家資格保有者在籍!!">
            </figure>
            <div class="bl_cta_qualifications">
              <div class="bl_cta_qualification">
                <figure class="bl_cta_qualificationFigure el_picture72">
                  <img class="bl_cta_qualificationImg js_lazyLoad" src="./img/loading_ico.svg"
                    data-src="./img/fv_license_img01.jpg" alt="資格証（柔道整復師）の画像">
                </figure>
              </div>
              <div class="bl_cta_qualification">
                <figure class="bl_cta_qualificationFigure el_picture72">
                  <img class="bl_cta_qualificationImg js_lazyLoad" src="./img/loading_ico.svg"
                    data-src="./img/fv_license_img02.jpg" alt="資格証（整体セラピスト）の画像">
                </figure>
              </div>
              <div class="bl_cta_qualification">
                <figure class="bl_cta_qualificationFigure el_picture72">
                  <img class="bl_cta_qualificationImg js_lazyLoad" src="./img/loading_ico.svg"
                    data-src="./img/fv_license_img03.jpg" alt="資格証（はり師）の画像">
                </figure>
              </div>
            </div>
            <!-- / bl_cta_qualifications -->
          </div>
          <!-- / bl_cta_qualificationArea -->
        </div>
        <!-- / bl_cta_group -->
      </div>
      <!-- / bl_cta_group -->
      <a href="tel:027-212-2700" class="bl_cta_group2">
        <div class="bl_cta_symptoms">
          <figure class="bl_cta_symptomsFigure el_picture34">
            <img class="bl_cta_symptomsImg js_lazyLoad" src="./img/loading_ico.svg" data-src="./img/cta_img1.png"
              alt="こんなお悩みございませんか？腰痛、ぎっくり腰、肩こり、首こり、むち打ち、頭痛、猫背、成長痛、交通事故、労災。まずは、一度お電話ください！">
          </figure>
        </div>
        <div class="bl_cta_call">
          <figure class="bl_cta_callFigure el_picture38_5">
            <img class="bl_cta_callImg js_lazyLoad" src="./img/loading_ico.svg" data-src="./img/cta_img2.jpg"
              alt="電話番号、受付時間の画像">
          </figure>
        </div>
        <div class="bl_cta_banner">
          <figure class="bl_cta_bannerFigure el_picture11">
            <img class="bl_cta_bannerImg js_lazyLoad" src="./img/loading_ico.svg" data-src="./img/cta_img3.jpg"
              alt="美容鍼、骨盤ゆがみ・姿勢改善、シニア向け足腰の筋力UP受け放題コース有りの画像、">
          </figure>
        </div>
      </a>
      <!-- / bl_cta_group2 -->
    </div>
    <!-- /.bl_cta_inner -->
    <p class="bl_cta_txt">▲こちらを押すとお電話できます▲</p>
  </div>
  <!-- / bl_cta -->
</div>
<p class="bl_safari el_indent_asterisk hp_spExist">
  上記の電話ボタンを複数回タップすると<span class="hp_bold">「このWebサイトから自動的に電話をかけることは禁止されています。」</span>という表記がでますが、問題ございません。
</p>