<section class="ly_noRepeatBgImg ly_cta">
  <div class="bl_cta">
    <div class="bl_cta_inner">
      <div class="bl_cta_mainGroup">
        <figure class="bl_cta_ttl">
          <img class="bl_cta_ttlImg" src="./img/fv_txt.png"
            alt="施術者数10,351人以上/施術経験10年以上育英メディカル専門学校での講演実績有り今ある痛みを改善したいまずは、私達にご相談ください！">
        </figure>
        <div class="bl_cta_intro">
          <div class="bl_cta_profiles">
            <div class="bl_cta_profile">
              <figure class="bl_cta_profileFigure el_picture100">
                <img class="bl_cta_profileImg" src="./img/fv_staff_circle_img01.png" alt="院長：金田雄一郎（柔道整復師）">
              </figure>
            </div>
            <div class="bl_cta_profile">
              <figure class="bl_cta_profileFigure el_picture100">
                <img class="bl_cta_profileImg" src="./img/fv_staff_circle_img02.png" alt="スタッフ：金田友美（フットケア）">
              </figure>
            </div>
            <div class="bl_cta_profile">
              <figure class="bl_cta_profileFigure el_picture100">
                <img class="bl_cta_profileImg" src="./img/fv_staff_circle_img03.png" alt="スタッフ：設楽和也（鍼灸師）">
              </figure>
            </div>
          </div>
          <!-- / bl_cta_profiles -->
          <div class="bl_cta_qualificationArea">
            <figure class="bl_cta_qualificationTtl">
              <img class="bl_cta_qualificationTtlImg" src="./img/fv_license_ttl_img01.png" alt="柔道整復師">
            </figure>
            <div class="bl_cta_qualifications">
              <div class="bl_cta_qualification">
                <figure class="bl_cta_qualificationFigure el_picture72">
                  <img class="bl_cta_qualificationImg" src="./img/fv_license_img01.jpg" alt="柔道整復師">
                </figure>
              </div>
              <div class="bl_cta_qualification">
                <figure class="bl_cta_qualificationFigure el_picture72">
                  <img class="bl_cta_qualificationImg" src="./img/fv_license_img02.jpg" alt="柔道整復師">
                </figure>
              </div>
              <div class="bl_cta_qualification">
                <figure class="bl_cta_qualificationFigure el_picture72">
                  <img class="bl_cta_qualificationImg" src="./img/fv_license_img03.jpg" alt="柔道整復師">
                </figure>
              </div>
            </div>
            <!-- / bl_cta_qualifications -->
          </div>
          <!-- / bl_cta_qualificationArea -->
        </div>
        <!-- / bl_cta_group -->
      </div>
      <!-- / bl_cta_group -->
      <div class="bl_cta_icons">
        <div class="bl_cta_icon">
          <figure class="bl_cta_iconFigure el_picture43">
            <img class="bl_cta_iconImg" src="./img/fv_icon01.jpg" alt="駐車場6台完備">
          </figure>
        </div>
        <div class="bl_cta_icon">
          <figure class="bl_cta_iconFigure el_picture43">
            <img class="bl_cta_iconImg" src="./img/fv_icon02.jpg" alt="駐車場6台完備">
          </figure>
        </div>
      </div>
      <!-- / bl_cta_icons -->
    </div>
    <!-- /.bl_cta_inner -->
  </div>
  <!-- / bl_cta -->
</section>