<div class="ly_noRepeatBgImg bl_firstViewShort" style="background-image: url('./img/first-view_lower_bgImg@2x.jpg');">
  <div class="ly_container ly_container__paddingContents">
    <div class="bl_firstViewShort_inner">
      <figure class="bl_firstViewShort_ttl">
        <img class="bl_firstViewShort_ttlImg" src="./img/title@2x.png" alt="世界最長の叙事詩をピーター・ブルック以来の全編舞台化 完全版マハーバラタ">
      </figure>
      <figure class="bl_firstViewShort_schedule">
        <img class="bl_firstViewShort_scheduleImg" src="./img/schedule@2x.png" alt="2020年7月4日～7日なかのZERO大ホール">
      </figure>
    </div>
  </div>
</div>