<footer class="ly_footer">
    <div class="ly_footer_inner">
        <small class="el_footerCopyright">Copyright &#169; 2020 西片貝接骨院 All Rights Reserved.</small>
    </div>
</footer>

<!-- フォントオーサム -->
<!-- <script src="./js/all.min.js"></script> -->
<!-- jQuery -->
<!-- <script src="./js/jquery.min.js"></script> -->
<!-- ポリフィル（object-fit） -->
<!-- <script src="./js/ofi.min.js"></script> -->
<!-- ポリフィル（sticky） -->
<!-- <script src="./js/stickyfill.min.js"></script> -->
<!-- メイン -->
<!-- <script src="./js/main.js"></script> -->

<!-- バンドル -->
<script src="./js/bundle.js"></script>