<header class="ly_header">
    <div class="ly_header_inner">
        <ul class="bl_headerNav">
            <li class="bl_headerNav_item">
                <a href="index.html" class="bl_headerNav_link">
                    <div class="bl_headerNav_txt">トップ</div>
                    <div class="bl_headerNav_eTxt">TOP</div>
                </a>
            </li>
            <li class="bl_headerNav_item">
                <a href="news.html" class="bl_headerNav_link">
                    <div class="bl_headerNav_txt">ニュース</div>
                    <div class="bl_headerNav_eTxt">NEWS</div>
                </a>
            </li>
            <li class="bl_headerNav_item">
                <a href="story.html" class="bl_headerNav_link">
                    <div class="bl_headerNav_txt">ストーリー</div>
                    <div class="bl_headerNav_eTxt">STORY</div>
                </a>
            </li>
            <li class="bl_headerNav_item">
                <a href="comments.html" class="bl_headerNav_link">
                    <div class="bl_headerNav_txt">著名人コメント</div>
                    <div class="bl_headerNav_eTxt">COMMENTS</div>
                </a>
            </li>
            <li class="bl_headerNav_item">
                <a href="cast.html" class="bl_headerNav_link">
                    <div class="bl_headerNav_txt">キャスト</div>
                    <div class="bl_headerNav_eTxt">CAST</div>
                </a>
            </li>
            <li class="bl_headerNav_item">
                <a href="inquiry.html" class="bl_headerNav_link">
                    <div class="bl_headerNav_txt">問い合わせ</div>
                    <div class="bl_headerNav_eTxt">INQUIRY</div>
                </a>
            </li>
        </ul>
    </div>
</header>