<section class="ly_container ly_container__paddingContents bl_news">
    <div class="bl_news_inner">
        <h2 class="el_h2">NEWS</h2>
        <div class="bl_colUnit bl_colUnit__col3 bl_colUnit__col3__col2">
            <div class="bl_colItem">
                <a class="bl_card bl_card__row45" href="./news-single.html">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_mahabaLata_img@2x.jpg">
                    </figure>
                    <div class="bl_card_body">
                        <time class="bl_card_date" datetime="2019-09-30">
                            2019.9.30
                        </time>
                        <p class="bl_card_txt">
                            「完全版マハーバーラタ」2020年7月・東京公演！！
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </a>
            </div>
            <!-- /.bl_colItem -->
            <div class="bl_colItem">
                <a class="bl_card bl_card__row45" href="./news-single.html">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_02_img@2x.jpg">
                    </figure>
                    <div class="bl_card_body">
                        <time class="bl_card_date" datetime="2019-09-30">
                            2019.9.30
                        </time>
                        <p class="bl_card_txt">
                            タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </a>
            </div>
            <!-- /.bl_colItem -->
            <div class="bl_colItem">
                <a class="bl_card bl_card__row45" href="./news-single.html">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_03_img@2x.jpg">
                    </figure>
                    <div class="bl_card_body">
                        <time class="bl_card_date" datetime="2019-09-30">
                            2019.9.30
                        </time>
                        <p class="bl_card_txt">
                            ニュースのタイトルが入ります。ニュースのタイトルが入ります。
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </a>
            </div>
            <!-- /.bl_colItem -->
            <div class="bl_colItem">
                <a class="bl_card bl_card__row45" href="./news-single.html">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_04_img@2x.jpg">
                    </figure>
                    <div class="bl_card_body">
                        <time class="bl_card_date" datetime="2019-09-30">
                            2019.9.30
                        </time>
                        <p class="bl_card_txt">
                            ニュースのタイトルが入ります。ニュースのタイトルが入ります。
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </a>
            </div>
            <!-- /.bl_colItem -->
            <div class="bl_colItem">
                <a class="bl_card bl_card__row45" href="./news-single.html">
                    <figure class="bl_card_imgWrapper">
                        <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_04_img@2x.jpg">
                    </figure>
                    <div class="bl_card_body">
                        <time class="bl_card_date" datetime="2019-09-30">
                            2019.9.30
                        </time>
                        <p class="bl_card_txt">
                            ニュースのタイトルが入ります。ニュースのタイトルが入ります。
                        </p>
                    </div>
                    <!-- /.bl_card_body -->
                </a>
            </div>
            <!-- /.bl_colItem -->
        </div>
        <!-- /.bl_cardUnit bl_cardUnit__col3 -->
        <div class="bl_news_btn">
            <a href="./news.html" class="el_btn">ニュース一覧へ</a>
        </div>
        <!-- /.bl_news_btn -->
    </div>
    <!-- /.bl_news_inner -->
</section>